<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="vendors/bootstrap-theme.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="scripts/stylesheet.css" charset="utf-8">
    <title>To Do List </title>
    <script type="text/javascript" src="vendors/jquery.js"></script>
    <script type="text/javascript" src="scripts/client.js"></script>
  </head>
  <body>
  <div class="container">
  <h1> To Do List </h1>
  <div id="buttonssss">
  <button type="button" id="getTasks" name="button"> Get Tasks </button>
    <input type="text" id="newTask" name="name" value="">
    <button type="button" id = "newTaskButton" name="button"> Add Task </button>
  </div>

  <div id="outputDiv">
    <table id= 'table'>
      <tr>
        <th>Task to Complete</th>
        <th>Completed</th>
      </tr>
      <tr>
        <th>Learn to Code </th>
        <th>not completed </th>
      </tr>
    </table>
  </div>
</div>
  </body>
</html>
